@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>comeagua</title>
</head>
<body>
    <!--Header da parada-->
    <header>
        <div class="lyt_header">
            <div class="header_icone">
                <img title="ic_logo" src="">
            </div>
            <div class="header_buttons">
                <a href="#"> <img id="btn_myaccount" title="btn_myaccount" src="~/Assets/suaconta.png" align="middle" ></a>
                <a href="#"> <img id="btn_login" title="btn_login" src="~/Assets/Login.png" align="middle" ></a>
                <style>

                </style>
            </div>
            <div class="header_image">
                <img title="img_homepage" src="">
            </div>
        </div>    
    </header>
    <!--Corpo do site-->
    <div class="lyt_body">
        <!--Aba superior com caixa de pesquisa-->
        <div class="body_search">
            <div class="search_information">
                <p title="information_title" id="information_title">Encontre o bar perfeito para você</p>
                <p title="information_description" id="information_description">Pesquise diferentes lugares de Salvador e descubra diferentes bares, diferentes pessoas e diferentes experiências</p>
            </div>
            <div class="search_box">
                <input title="input_search" autocomplete="on" placeholder="Onde você deseja ir hoje?" type="text" />
            </div>
        </div>
        <!--Aba para criar eventos-->
        <div class="body_event">
            <div class="event_image">
                <img title="event_image" src="">
            </div>
            <div class="event_create">
                <p title="create_title" id="create_title">Crie seu evento!</p>
                <p title="create_description" id="create_description">Mostre aos seus amigos novos bares e marque com a galera de se encontrar em algum lugar</p>
                <a title="create_button" id="create_button" href=""> <img src=""></a>
            </div>
        </div>
        <!--Aba com a equipe-->
        <div class="body_team">
            <img title="img_team" src="">
            <div id="team_element_1">
                <a href="https://github.com/caiosmendes96" "><img src=""></a>
                <a href="https://github.com/caiosmendes96">caiosmendes96</a>
            </div>
            <div id="team_element_2">
                <a href="https://github.com/lisazevedo"> <img src=""> </a>
                <a href="https://github.com/lisazevedo">lisazevedo</a>
            </div>
            <div id="team_element" _3>
                <a href="https://github.com/Le4o"> <img src=""> </a>
                <a href="https://github.com/Le4o">Le4o</a>
            </div>
        </div>
    </div>
    <!--Rodapé-->
    <footer>
        <div class="lyt_footer">
            <div class="footer_left">
                <p href="#">come_agua</p>
            </div>
            <div class="footer_right">
                <a title="btn_event" href="#">Eventos</a>
                <a title="btn_login" href="#">Login</a>
                <a title="btn_top" href="#">Topo</a>
            </div>
        </div>
    </footer>
</body>

<body>

</body>


</html>
<style>
    .header_buttons {
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 5%;
        left: 45%;
    }

    #btn_login {
        width: 10%;
        align-self: center;
     
    }

    #btn_myaccount {
        width: 10%;
        margin-right: 40px;
        align-self: center;
       
    }
</style>







